<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>bit-grid Demo</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<style>
		#app {
			width: 600px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<div id="demo" class="container">
		<script src="../../node_modules/steal/steal.js" id="demo_source" main="can/view/autorender/"></script>
		<script type="text/stache" id="demo_template" can-autorender>
		<can-import from="components/bit-table/" />
		<bit-table data="{data}" columns="{columns}"></bit-table>
		</script>
	</div>

	<script type='text/javascript'>
		steal('can', 'can/map/define', function(can){

			can.$('#demo_template').viewModel({
				data:[{test:2, col2:'heyo'},{test:4, col2: 'testing'}],
				columns: [{key: "test", label:"Test"},{key: "col2", label:"Column 2"}]
			});
		});
	</script>
</body>
</html>
